body {
    text-align: center;
    margin: 0;

}
header {
    background-color: #70af85;
    margin: 0 0 10px 0;
}
h1 {
    font-family: 'Yellowtail', cursive;
    font-size: 3rem;
    color: #222831;
    line-height: 200%;
}

h2 {
    font-family: 'Redressed', cursive;
    font-family: 'Nunito', sans-serif;
    color: #222831;

}

h3, a {
    color: #222831;
}

.cloud-img {
    position: absolute;
    
}

.cloud-img-top {
    position: relative;
    left: 220px;
    top: 20px;
}

span {
    font-weight: normal;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.skill-row img {
    width: 20%;
}

.programming-img {
    float: left;
    margin-right: 30px;
}

.music-img {
    float: right;
    margin-left: 30px;
}
